/* Загальні класи */
* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #212121;
    line-height: 1.6;
    margin: 0;
}

.load-more {
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.hidden {
    display:none;
}

.search-form {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-image: linear-gradient(45deg, #FFDB01, #0E197D);
}


 .search-input {
     position: relative;
     width: 358px;
     border: 5em;
     cursor: pointer;
     outline: none;
     font-size: 16px;
     -webkit-transform: translate(0);
     transform: translate(0);
     background-color: white;
     padding: 0.7em 2em;
     border-radius: 65px;
     box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
     -webkit-transition: box-shadow 0.25s;
     transition: box-shadow 0.25s;
     color:#0E197D;
 }

 .gallery {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 10px;
     margin: 45px 0;
 }

 .photo-card {
     width: 300px;
     flex-flow: column;
     flex-wrap: wrap;
 }

 .info {
     display: flex;
     align-items: center;
     justify-content: center;
     justify-items: center;
     font-size: 10px;
     margin-bottom: 20px;
     border-bottom: 1px solid #c3c2c2;
     border-left: 1px solid #c3c2c2;
     border-right: 1px solid #c3c2c2;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.09),
         0px 2px 2px rgba(0, 0, 0, 0.13);
     background-image: linear-gradient(45deg, #FFDB01, #0E197D);
 }

 .info-item {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     padding: 0 12px;
 }
 .image {
     object-fit: cover;
     transition: transform 250ms ease-in-out;
 }

 .image:hover {
     transform: scale(1.05);
 }

 .search-btn {
    margin-left: 10px;
 }


/* стилізація кнопки */
button {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 11px 30px 11px;
    width: auto;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 65px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

button span {
    position: relative;
    color: #fff;
}
button span:hover{
    color: #333;
}

button .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 260px;
    background: linear-gradient(45deg, #4f00bc, #29abe2);
    transition: .5s ease;
}

button:hover .wave::after,
button:hover .wave::before {
    width: 0;
    height: 0;
    transition: 2s ease;
}

button .wave::after,
button .wave::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -75%);
    transition: .5s ease;
}

button .wave::before {
    border-radius: 40%;
    background: rgba(1, 1, 1, .5);
    animation: wave 7s linear infinite;
}

button .wave::after {
    border-radius: 45%;
    background: #333;
    animation: wave 12s linear infinite;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

